@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Reset geral */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Rubik", sans-serif;
}

*{
    color: #fff;
}

html{
    background-color: black;
}

/* Nav-Bar */
nav {
  position: relative;
  background-color: #00000000;
  z-index: 3;
  padding: 0 5%;
  width: 100%;
  height: 140px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 7.4vw;
}

.nav-list {
  display: flex;
  gap: 85px;
  list-style: none;

}

.nav-list a {
  font-family: "Roboto", sans-serif;
  padding-block: 24px;
  color: #ffffff;
  /* Facilita o usuario mobile pois o dedo nao é tao preciso entao aumenta a range do click */
}
.nav-list a::after{
  content: " ";
  display: block;
  height: 2px;

  width: auto;
  background: blue;
  transition: width 0.5s, opacity 0.3s; /* Transição suave da altura e opacidade */
  opacity: 0; /* Inicialmente invisível */
  border-radius: 50%;
}

.nav-list a:hover::after {
  width: 100%; /* Aumenta a altura para mostrar a linha */
  opacity: 1; /* Torna a linha visível */
}
/*Parte responsiva da nav*/
.hamburger {
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;
}

.hamburger::after,
.hamburger::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}
/* Fim nav-bar */

a {
  text-decoration: none;
}

.home{
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 9rem 14.2vw;
  
}

.home::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; /* espessura da linha */
  background: linear-gradient(to right, transparent, blue, transparent);
}

.container-home{
  display: flex;
  gap: 9.5rem;
}

.conteudo-home{
  display: flex;
  flex-direction: column;
  gap: 1.8vw;
}

.texto-home h1{
  width: 90%;
  font-size: 3vw;
  font-family: "Roboto", sans-serif;
}

.texto-home p{
  font-size: 1.64vw;
  font-family: "Roboto", sans-serif;
}

.texto-home p .green-text{
  font-weight: bold;
  background-image: linear-gradient(to right, rgb(2, 2, 141),blue);
  -webkit-background-clip: text;  /* Suporte para Webkit (Chrome, Safari, Edge) */
  background-clip: text;  /* Para outros navegadores */
  color: transparent;
}

.botao-home a{
  font-size: 1.2vw;
  font-weight: bolder;
  background-image: linear-gradient(to right, rgb(2, 2, 141), blue);
  padding: 0.6vw 3.7vw;
  font-family: "Roboto", sans-serif;
  border-radius: 0 0.7vw 0.7vw 0.7vw;
}

.blur{
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.blur-centro{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.blur-mobile{
  display: none;
}

.imagem-logo img{
  width: 27.6vw;
}

.holder{
  position: relative;
  z-index: 2;
  display: flex;
  padding: 9vw 14.2vw;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.texto{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.texto h1{
  position: relative;
  font-weight: bolder;
  padding-left: 10px;
  font-size: 2vw;
}

.texto h1::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%; /* Alinhamento na altura do texto */
  width: 2px; /* Espessura da linha */
  background-color: blue;
}

.texto p{
  padding: 0 5vw;
  font-size: 1vw;
  font-weight: 200;
  line-height: 1.5vw;
}


/* quem somos */
/*valores*/
.cards-valores{
  display: flex;
  gap: 1rem;
  padding-top: 2vw;
}

.card-v{
  width: 25%;
  border: 2px solid transparent;
  border-image: linear-gradient(45deg, rgba(0, 0, 255, 0) 0%, rgba(0, 0, 255, 1)25%, rgba(0, 0, 255, 1) 75%, rgba(0, 0, 255, 0) 100%);
  border-image-slice: 1;
  box-sizing: border-box;
  position: relative;
  padding: 0.6vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-v-head{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.card-v-head img{
  width: 2.7vw;
}

.card-v-head h1{
  font-size: 1.2vw;
  font-weight: 600;
}

.card-v-body{
  padding: 0 1.2vw 0.8vw
}

.card-v-body p{
  font-size: 0.9vw;
  font-weight: 200;
}
/*Fim sessão valores*/

/*Sessão nosso projeto*/
.holder-ueye{
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5vw 14.2vw 0;
  box-shadow: 0 10px 15px -5px #4D4CDA;
  background-color: #fff;
}

.holder-ueye .container{
  width: 100%;
  padding: 4vw 0 0
}

.holder-ueye p{
  color: #000000;
  font-weight: 400;
}

.holder-ueye h1{
  color: #4B4AD6;
  font-weight: bolder;
}

.holder-ueye h1::before{
  background-image: linear-gradient(to bottom, #8c8cf0, #302F98);
  height: 2.5vw;
}

.holder-ueye .head{
  display: flex;
  justify-content: space-between;
}

.holder-ueye .head img{
  width: 4vw;
}

.lilas{
  color: #4B4AD6;
  font-weight: 500;
}

.holder-ueye .img-software img{
  width: 90%;
}

.holder-ueye .img-software{
  position: relative;
  bottom: 0;
  display:flex ;
  justify-content: center;
  padding-top: 3vw
}

/*Fim sessão nosso projeto*/

.cards-integrantes{
  z-index: 2;
  display: flex;
  gap: 1rem;
  padding-top: 2vw;
  width: 100%;
  justify-content: space-around;
}

.card-i{
  width: 12.7vw;
  box-sizing: border-box;
  position: relative;
  padding: 0 0.6vw 1vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0 0.7vw 0.7vw 0.7vw;
  box-shadow: 0 6px 15px -5px #0048FF;
}

.card-i .card-border-top {
  width: 60%;
  height: 3%;
  background: #0048FF;
  top: 0;
  border-radius: 0px 0px 15px 15px;
}

.card-i-body h1, .card-i-body p{
  color: #000000;
  text-align: center;
}

.card-i-body h1{
  font-size: 1.26vw;
}

.card-i-body p{
  font-size: 0.83vw;
}

.card-i-footer img{
  width: 1vw;
}

.card-i-footer{
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.card-i-head img{
  width: 5.8vw;
}

.blur-amanda{
  position: absolute;
  bottom: 2vw;
  left: 12vw;
}
.blur-arthur{
  position: absolute;
  top: 8vw;
  left: 47vw;
}
.blur-giovana{
  position: absolute;
  bottom: 2vw;
  right: 12vw;
}

.footer{
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-footer{
  width: 6vw;
}

/*Media query feito espepecialmente para o hamburger funcionar*/
@media only screen and (max-width: 700px) {
  .hamburger {
    z-index: 1;
    /*Faz com que ele apareça quando ativo*/
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000000;
    clip-path: circle(100px at 90% -15%);
    /*Cria um circulo*/
    transition: 1s ease-out;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
  }

  .nav-list a {
    font-size: 22px;
    opacity: 0;
  }

  .nav-list li:nth-child(1) a {
    /*faz cada coisa aparecer por vez*/
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  /* Estilos ativos */

  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 75px;
    right: 16px;
    border-top-color: transparent;
  }

  /* o hamburger vira um x depois de ativo*/
  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }
 /* Fim Nav*/

  .home{
    padding: 0 1rem 5rem;
  }

  .container-home{
    flex-direction: column-reverse;
    align-items: center;
    gap: 0;
  }

  .conteudo-home{
    gap: 1.4rem;
  }

  .imagem-logo img{
    width: 335px;
  }

  .texto-home h1{
    margin-top: -48px;
    font-size: 8.2vw;
  }

  .texto-home p{
    font-size: 4.3vw;
  }

  .botao-home a{
    font-size: 4.3vw;
    padding: 2.6% 20%;
    border-radius: 0 12px 12px 12px;
  }

  .blur{
      display: none;
  }

  .blur-centro{
      display: none;
  }

  .blur-mobile{
    display: block;
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .holder{
    padding: 5rem 1rem;
  }
  .texto h1{
    font-size: 4.8vw;
  }
  .texto p{
    font-size: 3.5vw;
    line-height: 4.4vw;
  }

  .cards-valores{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 4vw 10vw;
  }

  .card-v{
    width: 100%;
    gap: 1rem;
    padding: 3vw;
  }

  .card-v-head img{
    width: 10vw;
  }

  .card-v-head h1{
    font-size: 4.8vw;
  }

  .card-v-body{
    padding: 0 1.2vw 0.8vw
  }

  .card-v-body p{
    font-size: 3.5vw;
    padding-bottom: 2vw;
  }

  .holder-ueye{
    padding: 4rem 1rem 0;
  }

  .holder-ueye .head img{
    width:6vw;
  }

  .holder-ueye h1::before{
    height: 6vw;
  }

  .holder-ueye .img-software img{
    position: relative;
    width: 100%;
  }
  
  .holder-ueye .img-software{
    position: relative;
    bottom: 0;
  }
  
  .blur-amanda{
    width: 60vw;
    top: 55vw;
    left: 40vw ;
  }

  .blur-arthur{
    width: 60vw;
    top: 115vw;
    left: 0;
  }

  .blur-giovana{
    width: 60vw;
    bottom: 0;
    right: 0;
  }

  .cards-integrantes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 4vw 10vw;
  }

  .card-i{
    width: 70%;
    border-radius: 0 12px 12px;
  }
  
  .card-i-footer img{
    width: 5.7vw;
  }

  .card-i-head img{
    width: 16vw;
  }

  .card-i-body h1{
    font-size: 3.8vw;
  }

  .card-i-body p{
    font-size: 3vw;
    padding-bottom: 2vw;
  }

  .logo-footer, .nav img{
    width: 19vw;
  }
}

/*Media query para tablets*/
@media only screen and (min-width: 701px) and (max-width: 1025px) {
  .hamburger { /*Esconde o hamburguer*/
    display: none;
  }
  .home{
    padding: 0rem 4rem 5rem;
  }

  .holder{
    padding: 5rem 4rem;
  }

  .texto h1{
    font-size: 3vw;
  }
  .texto p{
    font-size: 1.5vw;
    line-height: 2vw;
  }
  .blur{
    display: none;
  }

  .cards-valores{
    display: flex;
    gap: 1rem;
    padding-top: 2vw;
  }

  .card-v{
    padding: 0.8vw;
  }

  .card-v-head img{
    width: 3.6vw;
  }

  .card-v-head h1{
    font-size: 1.5vw;
  }

  .card-v-body{
    padding: 0 1.2vw 0.8vw
  }

  .card-v-body p{
    font-size: 1.3vw;
  }

  .holder-ueye h1::before{
    height: 3.3vw;
  }

  .blur-amanda{
    bottom: 0;
    left: 1vw;
  }
  .blur-arthur{
    top: 4vw;
    left: 40vw;
  }
  .blur-giovana{
    bottom: 0;
    right: 1vw;
  }

  .card-i{
    width: 20vw;
  }

  .card-i-body h1{
    font-size: 1.5vw;
  }
  
  .card-i-body p{
    font-size: 1.3vw;
  }
  
  .card-i-footer img{
    width: 1.6vw;
  }
  
  .card-i-head img{
    width: 7vw;
  }
}

/*media query para computadores e telas grandes*/
@media only screen and (min-width: 1025px) {
  .hamburger {
    display: none;
  }
  .nav{
    padding: 0 14%;
  }
}